@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
    color: #242424;
    text-align: center;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

/* NAV */

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.nav__link--list {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: blue;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: lightskyblue;
}

.personal__logo {
    font-size: 24px;
    color: blue;
    font-weight: bold;
    margin: 0 12px;
}